/* Основной файл */

@import url(https://shiki-theme.web.app/import/main.css);

/* Стили обложки профиля */

@import url(https://shiki-theme.web.app/import/profile-cover.css);

/* Шрифт Roboto */

@import url(https://shiki-theme.web.app/import/font-roboto.css);

/* Изменения профиля v1.0 */

@import url(https://shiki-theme.web.app/import/profile-update.1.css);

/* Изменения профиля v1.1 */

@import url(https://shiki-theme.web.app/import/profile-update.1.1.css);

/* Тема «Стандартная светлая» */


/* Настройки переменных темы */

@media{:root {

  /* Обложка профиля */

  --user-cover: url(https://image.noelshack.com/fichiers/2013/30/1374713734-1345713753176.jpg);

  /* Фон сайта */

  --user-background: 
 

}}

/* Моя обложка в профиле */

.p-profiles .profile-head::before {


  display: block; /* Отображение обложки */

  background-position: center 50%;
  

}
:root {

  /* Цвета текстов */

  --color-text-primary: #e3e3e3;

  --color-text-secondary: #b9b9b9;

  --color-text-hint: #9a9a9a;

  --color-text-disabled: #777777;

  --color-overlay-text-hovered: none ;

  --color-overlay-text-selected: rgba(227, 227, 227, 0.08);

  --color-overlay-text-pressed: rgba(227, 227, 227, 0.12);

  /* Цвет ссылок */

  --color-link: #00BFFF;

  --color-link-hover: #ffac1c;

  --color-link-active: #de8d00;

  /* Основной цвет */

  --color-primary: #2196f3;

  --color-text-on-primary: white;

  --color-primary-reduced: #2276b9;

  --color-primary-hovered: #339ef4;

  --color-primary-pressed: #2090e9;

  --color-overlay-primary-hovered: #126e54;
  --color-overlay-primary-selected: rgba(33, 150, 243, 0.12);

  --color-overlay-primary-pressed: rgba(33, 150, 243, 0.16);

  /* Акцентирующий цвет */

  --color-accent: #ffac1c;

  --color-text-on-accent: #211604;

  --color-accent-reduced: #c2861e;

  --color-accent-fade: #8d6520;

  --color-overlay-accent-hovered: rgba(255, 172, 28, 0.08);

  --color-overlay-accent-selected: rgba(255, 172, 28, 0.12);

  --: rgba(255, 172, 28, 0.16);

  /* Фоновые цвета */

  --color-background: #1a1a1a;

  --color-background-translucent: #171717;

  --color-background-dialog: #0c0d0c;

  --color-surface: #171717;

  --color-surface-hover: #171717;

  --color-surface-active: #171717;

  --color-border: gray;

  /* Цвета верхнего меню */

  --color-menu-background: #171717;

  --color-menu-background-fade: #171717;

  --color-menu-text-primary: white;

  --color-menu-text-disabled: white;

  --color-menu-icon: white gray;

  --color-menu-search: gray;

  --color-menu-search-fade: #171717

  --color-menu-background-hover: #171717;
  --color-menu-background-active: #171717;

  /* Цвета кнопок списков */

  --color-planned: #20B2AA;

  --color-onhold: #B8860B;

  --color-watching: #006400;

  --color-rewatching: #384f59;

  --color-completed: #008080;

  --color-dropped: #800000;

}











  







.p-profiles-show .b-feedback:after {

  content: ''; /* "так надо" */

  display: inline-block; /* не обязательно именно так, но "так надо" */

  position: fixed; /* именно это свойство и его значение fixed

                      и делает, чтобы изображение "прокручивалось" */

  width: 50px; /* ширина изображения */

  height: 45px; /* высота изображения */

  right: 5px;  /* отступ справа, 0px значит, что отступа от правой границы нет*/

  bottom: 5px; /* отступ снизу, 0px значит, что отступа от нижней границы нет*/




  background: url("https://static2.mangapoisk.ru/pages/3299/290512/I97ecPb7G0mOk7BAS2hGUTp8aGllOg9qyUO3kVef.gif") no-repeat;

  background-size: cover; /* размер изображения будет подгоняться так,

                             чтобы занять всё пространство, которое 

                             задают width и height */

  z-index: 10; /* изображение становится выше всех по z координате,

                  тем самым всё остальное находится под ним*/

  pointer-events: none; 
  
}

{
    

/* Внутреннее свечение пунктов меню */

.l-top_menu-v2 .submenu > a:hover,

.l-top_menu-v2 .menu-dropdown > button:not(.mobile):hover,

.l-top_menu-v2 .menu-dropdown > button:not(.mobile) a:hover {

  box-shadow: 0 0 20px rgba(255,255,255,.6),

              0 0 20px rgba(255,255,255,1) inset;

  transition: 0.3s;

}

{
